@model IEnumerable<iDeliver.Models.Driver>

@{
    ViewBag.Title = "Index";
}

<h2>List of Drivers</h2>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnDelivery)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnDelivery)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DriverId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DriverId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DriverId })
        </td>
    </tr>
}

</table>
