@model IEnumerable<iDeliver.Models.Order>

@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<hr />
<hr />
<div class="row">
    <div class="col-8"><h2>Orders</h2></div>
    <div class="col-4">
        @*@Html.ActionLink("Shop Closed", "Close", "Shared", routeValues: null, htmlAttributes: new { @class = "btn btn-outline-danger" })*@
        <!-- Button trigger modal  -->
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
            Shop Closed
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Open Shop</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Open your shop to issue orders !
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Open Shop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DriverIdentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DriverIdentity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
        </tr>
    }

</table>
