@model IEnumerable<iDeliver.Models.Order>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Order List";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
<hr />
<hr />

@if (Request.IsAuthenticated && @ViewBag.Open == false)
{
    using (Html.BeginForm("ShopOpen", "Shops", FormMethod.Post, new { id = "openForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-8"><h2>Orders</h2></div>
            <div class="col-4">

                <!-- Button trigger modal  -->
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#openShop">
                    The Shop is Closed
                </button>

                <!-- Modal -->
                <div class="modal fade" id="openShop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Open Shop</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Open your shop to issue orders !
                            </div>
                            <div class="modal-footer">
                                <ul>
                                    <li class="btn btn-success"><a style="text-decoration:none; color: azure;" href="javascript:document.getElementById('openForm').submit()"> Open Shop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
}
else
{
    using (Html.BeginForm("ShopClose", "Shops", FormMethod.Post, new { id = "openForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-8">
                <h2>Orders</h2>
            </div>
            <div class="col-4">

                <!-- Button trigger modal  -->
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#closeShop">
                    The Shop is Open
                </button>

                <!-- Modal -->
                <div class="modal fade" id="closeShop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Close Shop</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Have a good night !
                            </div>
                            <div class="modal-footer">
                                <ul>
                                    <li class="btn btn-danger"><a style="text-decoration:none; color: azure;" href="javascript:document.getElementById('openForm').submit()"> Close Shop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    <hr />
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(mode => mode.DriverIdentity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.DriverIdentity)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Commission)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Address)
                </td>
            </tr>
        }
    </table>
}
