@model IEnumerable<iDeliver.Models.Shop>

@{
    ViewBag.Title = "Index";
}

<h2>Shop List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Open)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Open)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShopId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShopId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShopId })
        </td>
    </tr>
}

</table>
